<%= @scraped_page.count %> <br>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Mileage</th>
      <th>$$</th>
    </tr>
  </thead>
  <tbody>
    <% @scraped_page.each do |vehicle| %>
      
    <tr>
      <td><%= vehicle["id"] %></td>
      <td><%= vehicle["name"] %></td>
      <td><%= vehicle["auction"]["name"] %></td>
      <td><%= vehicle["auction"]["date"] %></td>
      <td><%= vehicle["meter"] %></td>
      <% if vehicle["price"]["sale"] = "" %>
        <td><%= vehicle["price"]["foreign"] %></td>
      <% else %>
        <td><%= vehicle["price"]["sale"] %></td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>

 



