<%= @scraped_page.count %> <br>
<% idarray = [] %>

  <div class="panel-group" id="accordion">
    <% @scraped_page.each do |vehicle| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= vehicle["id"] %>" class="collapsed">
              <%= vehicle["lot"] %>
              <%= vehicle["name"] %>
              <%= vehicle["meter"] %>
              <%= vehicle["cw"] %>
            </a>
          </h4>
        </div>
        <div id="<%= vehicle["id"] %>" class="panel-collapse in">
          <div class="panel-body">
            <div class="row">
              <% if vehicle["trim"] %>
                <%= form_tag("/vehicles/valuation1", :remote => true) do |f| %>
                  <%= select_tag(:trim, options_for_select(vehicle["trim"])) %>
                  <%= hidden_field_tag(:vin, vehicle['sn']) %>
                  <%= hidden_field_tag(:vehicleID, vehicle['id']) %>
                  <%= submit_tag("Get") %>
                <% end %>
              <% end %>
              <div id="<%= vehicle['id']+'_valuation1' %>"></div>

            </div>
            <% past_vehicles = Vehicle.where("name like ?", "%#{vehicle["name"]}%") %>
            <% if !past_vehicles.empty? %>
              <div class="row">
                <div class="col-md-2">Price</div>
                <div class="col-md-2">Mileage</div>
              </div>
              <div class="row">
                <div class="col-md-2">Min: <%= number_to_currency(past_vehicles.minimum(:price_usd)) %></div>
                <div class="col-md-2">Min: <%= past_vehicles.minimum(:meter) %></div>
              </div>
              <div class="row">
                <div class="col-md-2">Avg: <%= number_to_currency(past_vehicles.average(:price_usd)) %></div>
                <div class="col-md-2">Avg: <%= past_vehicles.average(:meter) %></div>
              </div>
              <div class="row">
                <div class="col-md-2">Max: <%= number_to_currency(past_vehicles.maximum(:price_usd)) %></div>
                <div class="col-md-2">Max: <%= past_vehicles.maximum(:meter) %></div>
              </div>
            <% end %>                
            
            <div class="row">
              <div class="col-md-6">
                <% series_a = [] %>
                <% past_vehicles.each do |past_vehicle| %>  
                  <div class="col-md-4"><%= past_vehicle.auction_date %></div>
                  <div class="col-md-4"><%= currency_value = past_vehicle.price_usd %></div>
                  <div class="col-md-4"><%= past_vehicle.meter %></div>
                  <% series_a << [past_vehicle.meter.to_i, currency_value] %>
                <% end %>
              </div>
              <div class="col-md-6">
                <div id="<%= vehicle["id"]+"_truck" %>" style="min-width: 310px; height: 400px; margin: 0 auto" data-dataset='<%= series_a %>'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% idarray << vehicle["id"]+"_truck" %>
    <% puts idarray %>
    <% end %>

  </div>
  <div id='chart_ids' data-idarray='<%= idarray %>'