<%= @scraped_page.count %> <br>

  <div class="panel-group" id="accordion">
    <% @scraped_page.each do |vehicle| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= vehicle["id"] %>" class="collapsed">
              <%= vehicle["lot"] %>
              <%= vehicle["name"] %>
              <%= vehicle["meter"] %>
              <%= vehicle["cw"] %>
              <%= link_to "Car Guru", "http://www.cargurus.com/Cars/instantMarketValueFromVIN.action?startUrl=%2F&carDescription.vin=#{vehicle["sn"]}", :class =>'btn btn-default btn-xs pull-right' %>
            </a>
          </h4>
        </div>
        <div id="<%= vehicle["id"] %>" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <% if vehicle["trim"] %>
                <%= form_tag("/vehicles/valuation1", :remote => true) do |f| %>
                  <%= select_tag(:trim, options_for_select(vehicle["trim"])) %>
                  <%= hidden_field_tag(:vin, vehicle['sn']) %>
                  <%= hidden_field_tag(:vehicleID, vehicle['id']) %>
                  <%= submit_tag("Get") %>
                <% end %>
              <% end %>
              <div id="<%= vehicle['id']+'_valuation1' %>"></div>

            </div>
            <% past_vehicles = Vehicle.where("name like ?", "%#{vehicle["name"]}%") %>
            <% if !past_vehicles.empty? %>
              <div class="row">
                <div class="col-md-2">Price</div>
                <div class="col-md-2">Mileage</div>
              </div>
              <div class="row">
                <div class="col-md-2">Min: <%= number_to_currency(past_vehicles.first.minPrice(vehicle["name"])) %></div>
                <div class="col-md-2">Min: <%= past_vehicles.minimum(:meter) %></div>
              </div>
              <div class="row">
                <div class="col-md-2">Avg: <%= number_to_currency(past_vehicles.first.averagePrice(vehicle["name"])) %></div>
                <div class="col-md-2">Avg: <%= past_vehicles.average(:meter) %></div>
              </div>
              <div class="row">
                <div class="col-md-2">Max: <%= number_to_currency(past_vehicles.first.maxPrice(vehicle["name"])) %></div>
                <div class="col-md-2">Max: <%= past_vehicles.maximum(:meter) %></div>
              </div>
            <% end %>                
              
            <% past_vehicles.each do |past_vehicle| %>
              <div class="row">
                <div class="col-md-2"><%= past_vehicle.auction_date %></div>
                <div class="col-md-5"><%= past_vehicle.name %></div>
                <% if past_vehicle.price_usd.include?("USD") %>
                  <div class="col-md-2"><%= number_to_currency(past_vehicle.price_usd.to_i) %></div>
                <% else %>
                  <div class="col-md-2"><%= number_to_currency(past_vehicle.price_other.to_i) %></div>
                <% end %>
                <div class="col-md-2"><%= past_vehicle.meter %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>